aiohappyeyeballs  
aiohttp  
aiosignal  
amazon-textract-caller  
amazon-textract-response-parser  
amazon-textract-textractor  
annotated-types  
anyio  
arabic-reshaper  
asgiref  
asn1crypto  
async-timeout  
attrs  
autobahn  
Automat  
boto3  
botocore  
Brotli  
certifi  
cffi  
channels  
channels_redis  
chardet  
charset-normalizer  
click  
colorama  
constantly  
cryptography  
cssselect2  
daphne  
dataclasses-json  
distro  
dj-database-url  
Django  
django-jsonfield  
editdistance  
faiss-cpu  
fonttools  
frozenlist  
gobject  
greenlet  
gunicorn  
h11  
html5lib  
httpcore  
httpx  
httpx-sse  
hyperlink  
idna  
incremental  
jiter  
jmespath  
jsonpatch  
jsonpointer  
langchain  
langchain-community  
langchain-core  
langchain-text-splitters  
langsmith  
lxml  
marshmallow  
msgpack  
multidict  
mypy-extensions  
mysqlclient  
numpy  
openai  
orjson  
oscrypto  
packaging  
pillow  
propcache  
psycopg2  
pyasn1  
pyasn1_modules  
pycparser  
pydantic  
pydantic-settings  
pydantic_core  
pydyf  
pyHanko  
pyhanko-certvalidator  
PyMySQL  
pyOpenSSL  
pypdf  
pyphen  
python-barcode  
python-bidi  
python-dateutil  
python-decouple  
python-dotenv  
pytz  
PyYAML  
qrcode  
redis  
regex  
reportlab  
requests  
requests-toolbelt  
s3transfer  
service-identity  
six  
sniffio  
SQLAlchemy  
sqlparse  
svglib  
tabulate  
tenacity  
tiktoken  
tinycss2  
tinyhtml5  
tqdm  
Twisted  
txaio  
typing-inspect  
typing_extensions  
tzdata  
tzlocal  
uritools  
urllib3  
weasyprint  
webencodings  
whitenoise  
xhtml2pdf  
XlsxWriter  
yarl  
zope.interface  
zopfli  
