{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body  data-pc-preset="preset-1" data-pc-sidebar-theme="light" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    <div class="auth-main v1">
        <div class="auth-wrapper">
          <div class="auth-form">
            <div class="card my-5">
              <div class="card-body">
    <div class="card">
        
        <div class="text-center">
            <img src="{% static '/assets/images/authentication/img-auth-login.png' %}" alt="Login icon" />
            <h4>LOGIN</h4>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>